.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
}
.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 18px;
  padding-left: 20px;
  width: 400px;
}
.loginInput:focus {
  outline: none;
}
.loginButton,
.loginRegisterButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loginButton:disabled {
  cursor: not-allowed;
}
.loginRegisterButton {
  background-color: #42b72a;
  width: 60%;
  align-self: center;
}
.loginForgot {
  text-align: center;
  color: #1775ee;
  justify-content: center;
  margin-left: 150px;
}
.socialTextContainer {
  text-align: center;
  margin: 10px;
}
.soacialAppContainer {
  margin-top: 5px;
  align-items: center;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.socialApp {
  height: 60px;
}
.socialApp1 {
  height: 40px;
}
