.forgotPassword {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgotWrapper {
  width: 50%;
  height: 50%;
  display: flex;
}
.forgotLeft,
.forgotRight {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.forgotLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-right: 50px;
}
.forgotBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forgotInput {
  margin-top: 40px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 18px;
  padding-left: 20px;
  width: 400px;
}
.forgotInput:focus {
  outline: none;
}
.forgotButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.forgotButton:disabled {
  cursor: not-allowed;
}
.backtoregister {
  color: rgb(29, 41, 199);
}
